<div class="centered-container">
    <form class="form form-decorated form-registration">
        <div class="column column1">
            <h2>Регистрация</h2>
            {{{ InputField ref="emailInputRef" name="email" label="почта" type="email" }}}
            {{{ InputField ref="loginInputRef" name="login" label="логин" value=loginValue }}}
            {{{ InputFieldPassword ref="passwordInputRef" name="password" label="пароль" value=passwordValue }}}
            {{{ InputFieldPassword ref="passwordConfirmationInputRef" name="passwordConfirmation" label="повторите
            пароль" validation="password" value=passwordValueConfirmation }}}
        </div>
        <div class="column column2">
            {{{ InputField ref="firstNameInputRef" name="first_name" label="имя" validation="name" }}}
            {{{ InputField ref="lastNameInputRef"name="last_name" label="фамилия" validation="name" }}}
            {{{ InputField ref="displayNameInputRef"name="display_name" label="имя в чате" }}}
            {{{ InputField ref="proneInputRef"name="phone" label="телефон" }}}
            {{{ Button ref="buttonRef" class="primary" text="Создать профиль пользователя" type="submit"
            onClick=onSubmit }}}
            {{{ Link class="link-block" href="/login" text="Уже зарегистрированы?" }}}
        </div>
    </form>
</div>
