{{!-- <div class="centered-container">
    <form class="form form-decorated form-registration">
        <h2>Регистрация</h2>
        {{{ InputField ref="loginInputRef" name="login" label="логин" validationRule="login" value=loginValue }}}
        {{{ InputFieldPassword ref="passwordInputRef" name="password" label="пароль" value=passwordValue }}}
        {{{ Button class="primary" text="Войти" type="submit" onClick=onSubmit }}}
        {{{ Link class="link-block" href="register" text="Еще не зарегистрированы?" }}}
    </form>
</div> --}}

<div class="centered-container">
    <form class="form form-decorated form-registration">
        <div class="column column1">
            <h2>Регистрация</h2>
            {{> 'inputfields/inputfields' inputfields=registration_form.inputfields.column1}}
        </div>
        <div class="column column2">
            {{> 'inputfields/inputfields' inputfields=registration_form.inputfields.column2}}
            {{> 'button/button' text=registration_form.submit_label}}
            <a class="link link-block" href="{{registration_form.link.url}}">{{registration_form.link.text}}</a>
        </div>
    </form>
</div>
