<li class="chat-list__item{{#if highlight_selected}}{{#if selected}} selected{{/if}}{{/if}}">
    <a class="chat-list-item__link" href="/src/pages/chat-feed/index.hbs">
    {{#if avatar}}<img class="chat-list-item__avatar" src="/src/assets/{{avatar}}" alt="{{avatar}}" />
    {{else}}<div class="chat-list-item__avatar chat-list-item__avatar-noimage"></div>
    {{/if}}
    <div class="chat-list-item__text">
        <h4 class="chat-list-item__title">{{{title}}}</h4>
        <p class="chat-list-item__recent">{{{text}}}</p>
    </div>
    <div class="chat-list-item__info">
        <div class="chat-list-item__time">{{time}}</div>
        {{#if unread}}<div class="chat-list-item__unread">{{unread}}</div>{{/if}}
    </div>
    </a>
</li>
