<li class="chat-list__item">
    {{#if image}}<img class="chat-list-item__avatar" src="{{image}}" />
    {{else}}<div class="chat-list-item__noavatar"></div>
    {{/if}}
    <div class="chat-list-item__text">
        <h4 class="chat-list-item__title">{{title}}</h4>
        <p class="chat-list-item__latest">{{text}}</p>
    </div>
    <div class="chat-list-item__info">
        <div class="chat-list-item__time">{{time}}</div>
        {{#if unread}}<div class="chat-list-item__unread">{{unread}}</div>{{/if}}
    </div>
</li>