<div class="inputfield">
    <div class="inputfield__message">{{message}}</div>
    <input name="{{name}}" class="{{#if message}}error {{/if}}inputfield__input" placeholder="{{name}}" type="{{#if type}}{{type}}{{else}}text{{/if}}"
        value="{{text}}"{{#if disabled}} disabled{{/if}}></input>
    <label class="inputfield__label" for="{{name}}">{{label}}</label>
</div>
